
<h2>Eat-Da-Burger!</h2>

<div class='row'>
<img src="/images/burger.png">
</div>

<div id='avail'>
<ul>
  {{#each burgers}}
  {{this.burger_name}}

    {{!-- {{#unless devoured}}
      {{!-- {{> burgers/burger-block devoured=false}} --}}
    <button data-planid="{{this.id}}" class="devourBurger">Delete!</button>
    {{!-- <br><br> --}}
    {{!-- {{/unless}} --}} 
  {{/each}}
  
</ul>
</div>

<div id='devoured'>
<ul>
  {{#each burgers}}
    {{!-- {{#unless devoured}} --}}
      {{!-- {{> burgers/burger-block devoured=true}} --}}
        <button data-planid="{{this.id}}" class="devourBurger">Delete!</button>
        {{!-- <br><br> --}}
    {{/each}}
  {{!-- {{!-- {{/each}} --}}
</ul> 
</div>



<form id="addBurger" class="create-form">

  {{!-- <textarea type="text" for="burger"></textarea> --}}
    <input type="text" id="burger" name="name">
    <br>

  <button type="submit">Submit</button>
  <h4>Enter a burger you want to eat and press submit.</h4>
</form>